body {
  font-family: helvetica;
}

#wrapper {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: #ee99dd;

}

h1 {
  font-family: arial, serif;
  text-align: center;
}


.results {
  display:none;
}

.field1 {
  width: 100px;
}

.field2 {
  width: 50px;
}
